form{
    display: grid;
    width: 50%;
    margin: auto;
    padding: 20px;
}

label{
    margin-right: 30px;
}
.btn-primary{
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    background-color:#ffc107;
    color: black;
    margin-right: 20px;
    width: 30%;
    margin: auto;
  }
  .btn-primary:hover{
    background-color: #24292e;
    color: #ffc107;
  }
  .btn-danger{
    padding: 10px 10px;
    background-color: crimson;
    width: 30%;
    margin: auto;
    margin-top: 10px;
  }