<div class="center">
    <div class="form-container">
      <h3>Forgot Password</h3>
      <form>
        Email: <input [(ngModel)]="email" name="email" placeholder="Enter Email"><br><br>
        <button (click)="finduser()">Enter</button>
      </form>
      
      <form *ngIf="showform">
        Security Question:<input type="text" [(ngModel)]="userval.securityquestion" name="secQ" readonly="readonly"><br><br>
        Security Answer:<input type="text" [(ngModel)]="secAns" name="securityAnswer" placeholder="Enter Answer">
        <button (click)="checkans()">Enter</button>
      </form>
      
      <form *ngIf="passchangeform">
        New Password: <input type="text" [(ngModel)]="newpassword" name="securityAnswer" placeholder="Enter New password">
        <button type="submit" (click)="changepassword()">Confirm</button>
      </form>
    </div>
  </div>