.container{
    width: 80vw;
    padding: 20px;
    font-size: 18px;
}
#searchBar{
    width: 50%;
    margin: auto;
    margin-top: 20px;
    font-size: 18px;
}
thead{
    background-color: black;
    color: white;
}
tbody{
    background-color: #1d2327;
    color: #ffc107;
}
tr:hover{
    color: #1d2327;
    background-color: #ffc107;
}