<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <!-- <a class="navbar-brand" href="#">Foodies</a> -->
      <div class="title-main"><div class="title"><ul><li>F</li><li>O</li><li>O</li><li>D</li><li>I</li><li>E</li><li>S</li></ul></div> </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      

      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" (click)="userHome()" >Home
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link" (click)="bookingDetails()">Booking Details</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" (click)="userDetails()">User Details</a>
          </li>
          <li class="nav-item" id="logoutList">
            <a class="nav-link" (click)="logout()">Logout</a>
          </li>
        </ul>
        <!-- <form class="d-flex">
          <input class="form-control me-sm-2" type="search" placeholder="Search by Location">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form> -->
      </div>
    </div>
  </nav>
  <div class="content">
          
    <router-outlet></router-outlet>
</div>